%html
  %head
    %title RCDuinoby
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js' }
  %body
    herro
    #odatax
    #odatay
    #odataz
    #odatamapx
    #odatamapy
    :javascript
      var $time = new Date();
      var mapped_x = 0;
      var mapped_y = 0;

      function handleOrientation(o) {
        var curtime = new Date();
        var diff = (curtime - $time);

        jQuery('#odatax').html(o.x);
        jQuery('#odatay').html(o.y);
        jQuery('#odataz').html(o.z);
        jQuery('#odatamapx').html(mapped_x);
        jQuery('#odatamapy').html(mapped_y);

        if(diff > 50){
          mapped_x = 100 * o.x;
          mapped_y = 100 * o.y;

          jQuery.ajax('/drive?x=' + mapped_x + '&y=' + mapped_y);

          $time = curtime;
        }
      }

      window.addEventListener("MozOrientation", handleOrientation, true);
